target/
gold
guess
cache/
profiles/
scripts/
parsers/
.idea
lib_managed/
tmp/
*_managed
/src/main/resources/config.properties
*target
.scala_dependencies
.*.swp
*.jar
.idea*
.scratch/
java.hprof.txt
*.bbl
*.blg
*.aux
/bin/